* {
  box-sizing: border-box;
  font-family: sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --card-zoom: 1.5;
  --card-height: calc(var(--card-zoom) * 68px);
  --card-width: calc(var(--card-zoom) * 37px);
}

img {
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: initial;
}

button {
  cursor: pointer;
  margin: 5px;
  font-size: 16px;
}

h3 {
  margin: 0;
}

.active-player {
  color: red;
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    margin: 0px 30px;
  }
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 12px;

  &.top {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  &.bottom {
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
  }
  &.left {
    justify-content: center;
    align-items: flex-start;
  }
  &.right {
    justify-content: center;
    align-items: flex-end;
  }
}

.hand {
  display: flex;
  justify-content: center;
  align-items: center;

  &.left,
  &.right {
    flex-direction: column;
  }
}

.card {
  /* padding: 5px 10px;
  background: lightblue;
  font-size: 16px;
  margin: 5px 10px; */
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: var(--card-height);
  width: var(--card-width);

  &.horizontal {
    /* transform: rotate(90deg);
    border: solid 1px black; */
    height: var(--card-width);
    width: var(--card-height);

    img {
      transform: rotate(90deg);
      height: var(--card-height);
      width: var(--card-width);
      max-height: none;
    }
  }
}

.board {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .top {
    position: absolute;
    transform: translateY(calc(-1 * var(--card-width)));
  }
  .bottom {
    position: absolute;
    transform: translateY(var(--card-width));
  }
  .left {
    position: absolute;
    transform: translateX(calc(-1 * var(--card-width)));
  }
  .right {
    position: absolute;
    transform: translateX(var(--card-width));
  }
}

.bid {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);

  .bid-modal {
    background: lightgreen;
    border-radius: 5px;
    padding: 20px;
  }
}

.rules {
  z-index: 2;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
}
